<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doortodoor.easyshot">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".under5.OnCapturedActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@mipmap/ic_launcher" />
        </activity>
        <activity android:name=".over5.MediaProjectionService$AcquireMediaProjectionPermissionIntent" />

        <service
            android:name=".over5.AssistService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/assist_metadata" />

            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
        </service>
        <service
            android:name=".over5.AssistSessionService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".over5.mediaprojection.ScreenshotService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".over5.mediaprojection.ScreenshotService$ScreenshotServiceReceiver" />
    </application>

</manifest>